.section__home {
   /* min-height: 50rem; */
   min-height: 100vh;
   width: 100%;
   position: relative;
   overflow: hidden;
}
.back {
   height: 100%;
   width: 100%;
   position: absolute;
   inset: 0;
   object-fit: cover;
   object-position: center;
   z-index: 1;
}
.home__container {
   height: inherit;
}
.home__box-info {
   min-height: 100vh;
   padding: 6.5rem 0rem;
   box-sizing: border-box;
   /* height: 100%; */
   justify-content: space-between;
}
.home__info {
   width: 63%;
   border-radius: 16px;
   box-sizing: border-box;
   z-index: 3;
}
.name {
   font-size: clamp(3rem, 4.44vw, 6.1rem);
   font-weight: 800;
   line-height: 1.25; /* 80/64 */
   color: hsl(0, 0%, 100%);
   /* transform: var(--translateY-120); */
   /* opacity: 0; */
   transition: var(--transition-transform-03-es-in);
   /* border-right: 4px solid orange; */
}
.name._active {
   /* animation: flashing-border 0.75s step-end infinite, */
   /* print-text 5s steps(15); */

   /* transform: var(--translateY-0); */
   /* opacity: 1; */
}
/* @keyframes flashing-border {
   0% {
      border-color: orange;
   }
   50% {
      border-color: transparent;
   }
   100% {
      border-color: orange;
   }
}
@keyframes print-text {
   from {
      width: 0;
   }
} */

.cursor-hiden > .typed-cursor {
   display: none;
}
.sub__name:has(span) {
   margin: clamp(1rem, 1.39vw, 2rem) 0rem;
   line-height: 1; /* 46/40 */
   font-family: Roboto, sans-serif;
   font-size: clamp(2.4rem, 2.78vw, 4rem);
   color: hsl(0, 0%, 100%);
}
.sub__name span {
}
.box__sub {
}
/* ._anim-show._active,
._active ._anim-show {
   opacity: 1;
   transform: translate(0px , 0px);
}
._anim-show {
   transform: translate(0px, 120%);
   opacity: 0;
   transition: all 0.8 ease 1s;
} */
.box__btn {
   display: flex;
   gap: clamp(0px, 3.47vw, 5rem);
   flex-wrap: wrap;
   padding: 0.5rem;
   box-sizing: border-box;
   overflow: hidden;
}

.box__btn button {
   max-width: 100%;
}
.box__btn button.btn__contact {
   transform: var(--translateY-120);
   transition: var(--transition-transform-03-es-in);
}
.box__btn button.btn__resume {
   transform: var(--translateY-120);
   transition: var(--transition-transform-03-es-in);
}
button.btn__contact._active {
   transform: var(--translateY-0);
}
button.btn__resume._active {
   transform: var(--translateY-0);
}
.home__foto {
   width: 50%;
   transform: scale(2);
   z-index: 2;
}

.home__foto img {
   transform: scale(0);
   width: 100%;
   transition: var(--transition-transform-03-es-in);
}
.home__foto img._active {
   transform: scale(1);
}
@media (max-width: 767.98px) {
   .home {
      /* padding-top: 6rem; */
      overflow: hidden;
   }
   .home__box-info {
      min-height: 100vh;
      padding: 6.5rem 0rem;
      box-sizing: border-box;
      width: 100%;
      /* margin: 0rem 1.5rem; */
      flex-flow: column;
      justify-content: space-evenly;
      position: relative;
   }
   .home__info {
      width: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
   }
   .home__foto {
      position: absolute;
      bottom: 0;
      width: 100%;
      transform: scale(1);
      /* left: 25%; */
   }
   .name {
      text-align: center;
   }
   .box__btn > .btn.small {
      width: 100%;
      max-width: 100%;
   }
}

.typed-cursor.typed-cursor--blink {
   animation: typedjsBlink 0.7s forwards !important;
   display: none;
}
