
.contacts__content {
   padding: 4rem 0rem;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   box-sizing: border-box;
   /* height: 100vh; */
}
.contacts__content img {
   width: 50%;
}
.form {
   flex: 1 1 auto;
   max-width: 65.2rem;
   display: grid;
   gap: 2.5rem;
   border-radius: 1rem;
   padding: 1rem;
   color: white;
   box-sizing: border-box;
}
.form-sending {
   opacity: 0.5;
   pointer-events: none;
}
.form__title {
   font-size: clamp(2rem, 2.78vw, 4rem);
   font-weight: 600;
   line-height: 1.25; /* 50/40 */
}
.form__input {
   height: 4.5rem;
   padding: 1rem;
   width: 100%;
   border-radius: 0.8rem;
   box-sizing: border-box;
   background-color: #67388b;
   font-size: 2rem;
   color: white;
}

:is(.form__input::placeholder, textarea::placeholder) {
   color: #a79f9f;
}
form textarea {
   width: 100%;
   min-height: 7.5rem;
   max-height: 20rem;
   resize: vertical;
   background-color: #67388b;
   font-size: 2rem;
   border: 0.15rem solid #767676;
   padding: 0.5rem;
   box-sizing: border-box;
   color: white;
}

.options-form {
   display: grid;
   gap: 3rem;
}
.options-form__title {
   font-size: clamp(1.8rem, 1.67vw, 2.4rem);
   margin: 0;
}
.options-form__item {
   position: relative;
   display: flex;
   align-items: center;
}
.options-form__input {
   position: absolute;
   top: 0;
   left: 0;
   width: 1.5rem;
   height: 1.5rem;
   opacity: 0;
}
.options-form__input:checked + .options-form__text::before {
   background-color: #7d0bb3;
}
.options-form__input:focus-visible + .options-form__text::before {
   background-color: #7d0bb3;
   outline: 0.4rem solid rgb(255, 255, 255);
}
.options-form__text {
   font-size: clamp(1.5rem, 1.25vw, 1.8rem);
   padding-left: 3.5rem;
   cursor: pointer;
   display: flex;
   align-items: center;
}
.options-form__text::before {
   content: "";
   left: 0;
   /* top: 0; */
   z-index: 2;
   position: absolute;
   width: 2rem;
   height: 2rem;
   border: 0.3rem solid #973cc2;
   border-radius: 50%;
   transition: all 0.3s;
   background-color: white;
   box-sizing: border-box;
}

.file-form {
   position: relative;
   display: flex;
   align-items: center;
   gap: 0.6rem;
   min-width: 0;
}
.file-form__item {
   flex: 0 0 auto;
   position: relative;
}
.file-form__input {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   font-size: 0;
   opacity: 0;
   pointer-events: none;
}
.file-form__input:focus-visible + .file-form__button {
   outline: 0.2rem solid white;
}
.button-fail-form {
   /* border-radius: 0.3rem; */
   background-color: rgba(153, 50, 204, 0.209);
   transition: all 0.3s;
   font-size: 1.5rem;
   text-transform: none;
}
.button-fail-form:hover {
   background-color: hsl(280.71deg 88.42% 37.25%);
}
.file-form__button {
   /* padding: 0.5rem 0.9rem; */
   /* box-sizing: border-box; */
   border: 2px solid rgba(255, 255, 255, 0.2);
   cursor: pointer;
}
.file-form__name {
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

.checkbox-form {
   position: relative;
   display: flex;
   align-items: center;
}
.checkbox-form__input {
   position: absolute;
   top: 0;
   left: 0;
   width: 1rem;
   height: 1rem;
   opacity: 0;
}
.checkbox-form__input:checked + .checkbox-form__text::before {
   background-color: #7d0bb3;
   /* border-color: #ffffff; */
}
.checkbox-form__input:focus-visible + .checkbox-form__text::before {
   outline: 0.2rem solid white;
}
.checkbox-form__text {
   padding-left: 3.5rem;
   cursor: pointer;

   font-size: clamp(1.5rem, 1.25vw,1.8rem);
   display: flex;
   align-items: center;
}
.checkbox-form__text::before {
   content: "";
   left: 0;
   /* top: 0; */
   position: absolute;
   width: 2rem;
   height: 2rem;
   z-index: 2;
   border-radius: 0.18rem;
   transition: all 0.3s;
   background-color: white;
   border: 0.3rem solid #973cc2;
   box-sizing: border-box;
}
.form__button {
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 6s ease;
}
.form__button:hover #palne__icon{
/* scale: 0.9; */
transform: translateY(-1px) translateX(1px);
}
.form__button:active #palne__icon{
/* scale: 0.9; */
transform: translateX(5px) translateY(-5px);
/* transform: perspective(500px) translate(10px, 0, 20px) rotateY(3deg); */
}
form > .form__button[type="submit"] {
   width: 100%;
   max-width: 100%;

   text-transform: uppercase;
   letter-spacing: 2px;
}
#palne__icon{
   width: 3rem;
   margin-left: 1rem;
}
.form__box-icon {
   display: flex;
   gap: 1rem;
   justify-content: center;
   align-items: center;
}
.form__box-icon a{
border-radius: 10%;
   border: 1px solid transparent;
   box-shadow: 0 4px 30px transparent;
   transition: background-color 0.6s ease, backdrop-filter 0s ease;
}
.form__box-icon a:hover{
   background-color: rgb(255 255 255 / 20%);
   backdrop-filter: blur(5px);
   box-shadow: 0 4px 30px rgb(255 255 255 / 20%);
   border: 1px solid rgb(255 255 255 / 20%);
}
.form__box-icon img{
   width: 5rem;
   cursor: pointer;
   transition: scale 0.4s ease;
}

.form__box-icon a:hover img{
scale: 0.9;
}

@media (max-width: 767.98px) {
   .contacts__content {
      flex-flow: column-reverse;
   }
   form {
      width: 100%;
   }
}
